article
	h3 Другие программы ДПО, реализуемые факультетом
	section(aria-label="for students")
		h4 Для студентов.
		p Монтаж видеоролика – это увлекательное творческое занятие! На наших уроках вы научитесь не только монтировать видео, но и добавлять аудиотреки и спецэффекты. Мы расскажем как из простого видео сделать эффектный ролик, которым вы сможете удивить своих друзей!
	section(aria-label="for teachers")
		h4 Для учителей.
		p Хотите научиться создавать буктрейлеры? Или смонтировать видео для выпускного? Или вместе с учениками создавать собственные мультфильмы? Мы откроем вам дорогу в удивительным мир видеомонтажа! После обучения вы с легкостью вставите титры и спецэффекты, а также узнаете много секретов, которые помогут вам воплотить ваши самые оригинальные идеи!
	section(aria-label="for professors")
		h4 Для преподавателей
		p Незаменимая программа для создания видеоуроков! Мы не только научим вас как монтировать видео и добавить титры, мы расскажем как акцентировать внимание слушателей и добавить яркости в ваш видеоурок. Особенность нашего курса – максимум практики!
	section(aria-label="for all")
		h4 Для всех!
		p Хотите из простого видео сделать настоящий фильм или поздравить родных и друзей виртуальной открыткой, созданной из собственных фотографий или видео? Наш курс специально для вас! Мы научим вас основам видеомонтажа. Мы не просто расскажем, а вместе с вами шаг за шагом пройдем весь процесс создания фильма. Присоединяйтесь, будет интересно!
