footer
	article.info
		p.info__object © Московский политех. Кафедра "Математика"
		a.info__tel(href="tel:+74952230523") +7 (495) 223-05-23 #[span доб. 3080]
		address.info__adress Адрес: г. Москва, ул. Павла Корчагина, д.22, ауд. ПК441
		a.info__mail(href="mailto:km@mospolytech.ru") km@mospolytech.ru
