doctype html
html(lang="ru")
	block head
		head
			meta(charset="utf-8")
			meta(content="width=device-width, initial-scale=1", name="viewport")
			meta(content="ie=edge", http-equiv="x-ua-compatible")
			link(rel="stylesheet", href="css/bundle.min.css")
			link(rel="icon", type="image/png", href="./img/fav.png")
			title ДПО кафедры "Математика" Московского Политеха
	body
		block header
			include header
		block content
		block footer
			include footer
		block scripts
			script(src="js/main.min.js")
