include ../mixins/lists
article
	h3 Наши программы
	ul.banners
		each item in [{'link': 'ofg.html', 'img': {'src':'ofg.jpg', 'alt': 'OFG'}},  {'link': 'moiad.html', 'img': {'src':'moiad.jpg', 'alt': 'MOIAD'}}, {'link': 'ti.html', 'img': {'src':'ti.jpg', 'alt': 'TI'}}]
			li.banners__item: +link_img(item.link, item.img.src, item.img.alt)
