article
	h3 О кафедре
	p Кафедра "Математика", созданная в 2016 году на базе кафедр «Высшая математика» и «Прикладная математика» входит в состав факультета базовых компетенций Московского политехнического университета.
	p Кафедра "Математика" обеспечивает преподавание математики практически по всем направлениям подготовки Московского Политеха.
	p Помимо ведения основных математических дисциплин кафедра обеспечивает проведение курсов дополнительного профессонального образования (ДПО) по математике. С предлагаемыми курсами можно ознакомиться#[a(href="programs.html") по ссылке]
	p Следует подчеркнуть важную роль математического образования и в совершенствовании общей культуры мышления человека, формировании способности логически рассуждать, воспитании способности к точной и обстоятельной аргументации.
