footer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: $padding-vertical $padding-content;

	* {
		padding: 0;
		margin: 0;
	}

	margin-top: auto;
	font-size: 0.7rem;
	background-color: rgba(0, 0, 0, 0.2);
	opacity: 0.7;
}

.info {
	text-align: center;
}
