extends common/layout
include includes/mixins/main-banner

block main-banner
	+main-banner("Программы подготовки", 'по направлениям ДПО кафедры "Математика"')

block content
	main.content
		include ./includes/programs/article
		include ./includes/programs/another_programs_art
		include ./includes/programs/movai_banners
