// Mobile first
$mediaWidthMobile: 320px;
$mediaWidthTablet: 768px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthLaptop: 1366px;

$link-color: #a0a0a0;
$accent: #874ba0;
$header-background: rgba(135, 75, 160, 0.3);
$padding-content: 10%;
$padding-vertical: 30px;
