article
	h3 Основы теории игр
	p Для людей, принимающих решения!
	|
	section
		h4 Что такое основы теории игр
		p В повседневной жизни регулярно имеет место противостояние интересов (конфликт), в котором каждый из участников ставит своей целью получение максимальной выгоды. В таком понимании, конфликт является неотъемлемой частью человеческой деятельности; а во многих социальных науках (экономика, право) конфликт и вовсе является основной темой для изучения.
		p Теория игр, изначально появившаяся, скорее, как инструмент для описания экономических процессов, за последние десятилетия получила мощный толчок к развитию ввиду огромных возможностей для её применения в различных научных областях.
		p Помимо классического «математического» подхода к изучению игр, широкое применение также получили и «физические» подходы, суть которых заключается в построении реалистичной модели и последующего его анализа (в основном, с применением методов статической физики).
	section
		h4 Цель данного курса
		p Ознакомление слушателей с базовыми принципами теории игр и методами решения задач. На примере конкретных теоретико-игровых моделей будут рассказаны основные положения теории игр.
	section
		h4 На кого ориентирована программа?
		p Курс рассчитан на студентов младших курсов математического/экономического профиля, а также будет интересен и для более широкого круга слушателей, интересующихся математическими моделями в экономике и политике
	section
		h4 Основные темы курса:
		ol
			li Теория игр как базовая дисциплина. Основные типы игр. Игры с полной информацией. Статические игры. Чистые стратегии. Оптимальность по Парето. Равновесие по Нэшу и доминирование. Смешанные стратегии
			li Теорема Нейманна-Моргенштерна. Динамические игры с полной информацией. Дерево игры. Смешанные стратегии в динамических играх. Игры с повторением
			li Игры с неполной информацией. Статические игры с неполной информацией. Байесовы игры. Механизм игр с неполной информацией
			li Динамические игры с неполной информацией. Равновесия в динамических играх. Сигнальные игры.
	section
		h4 Структура курса:
		ul
			li 4 лекции (8 ак.час.)
			li 4 практических занятия (8 ак.час.)
			li Зачет (2 ак.час.)
